<%-include('partials/header.ejs')%>
        <a href="/search"><img class="search" src="/img/search.svg" alt="search"></a>
        <% if(locals.error) { %>
            <p><%=error%></p>
            <a href="/">See all characters</a>
        <% } else { %>
            <%-include('partials/cards.ejs')%>
        <%}%>
	</body>
</html>
